.sidebar{
    flex: 1;
    margin-left: 10px;
    height: calc(100vh - 50px) ;
    background-color: rgb(248, 248, 248);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 5px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(182, 179, 179);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(214, 214, 255);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}